## We preprocess the data as we did on the excericse, not much to explain here except we do not normalize for now.

In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [2]:
data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
data.shape

(1030, 9)

In [4]:
data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
data_columns = data.columns

In [7]:
data_columns

Index(['Cement', 'Blast Furnace Slag', 'Fly Ash', 'Water', 'Superplasticizer',
       'Coarse Aggregate', 'Fine Aggregate', 'Age', 'Strength'],
      dtype='object')

In [8]:
predictors = data[data_columns[data_columns != 'Strength']] # all columns except Strength
target = data['Strength'] # Strength column

In [9]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [10]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [11]:
n_cols = predictors.shape[1] # number of predictors

In [12]:
n_cols

8

<a id="item1"></a>

<a id='item32'></a>

## Part A - Baseline Model

In [14]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.30, random_state=1)

In [17]:
X_train.shape

(721, 8)

In [18]:
y_test.shape

(309,)

<a id='item33'></a>

We def a function to model

In [19]:
# define regression model

def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    
    return model

The above function create a model that has one hidden layer, each of 10 nodes

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [20]:
# build the model
model = regression_model()

In [21]:
# fit the model
model.fit(X_train, y_train, epochs=50)

Epoch 1/50
721/721 [==============================] - 0s 656us/step - loss: 357248.7870
Epoch 2/50
721/721 [==============================] - 0s 123us/step - loss: 201707.6880
Epoch 3/50
721/721 [==============================] - 0s 85us/step - loss: 98439.9740
Epoch 4/50
721/721 [==============================] - 0s 133us/step - loss: 38653.8735
Epoch 5/50
721/721 [==============================] - 0s 70us/step - loss: 10470.5611
Epoch 6/50
721/721 [==============================] - 0s 57us/step - loss: 2707.8672
Epoch 7/50
721/721 [==============================] - 0s 70us/step - loss: 1891.7351
Epoch 8/50
721/721 [==============================] - 0s 96us/step - loss: 1794.7074
Epoch 9/50
721/721 [==============================] - 0s 115us/step - loss: 1719.7998
Epoch 10/50
721/721 [==============================] - 0s 104us/step - loss: 1645.6196
Epoch 11/50
721/721 [==============================] - 0s 60us/step - loss: 1579.8020
Epoch 12/50
721/721 [==============================] - 0s 118us/step - loss: 1514.7203
Epoch 13/50
721/721 [==============================] - 0s 94us/step - loss: 1452.9568
Epoch 14/50
721/721 [==============================] - 0s 92us/step - loss: 1395.0222
Epoch 15/50
721/721 [==============================] - 0s 89us/step - loss: 1341.3370
Epoch 16/50
721/721 [==============================] - 0s 118us/step - loss: 1291.1997
Epoch 17/50
721/721 [==============================] - 0s 157us/step - loss: 1242.6042
Epoch 18/50
721/721 [==============================] - 0s 119us/step - loss: 1196.7766
Epoch 19/50
721/721 [==============================] - 0s 74us/step - loss: 1155.5370
Epoch 20/50
721/721 [==============================] - 0s 97us/step - loss: 1117.6824
Epoch 21/50
721/721 [==============================] - 0s 112us/step - loss: 1081.9878
Epoch 22/50
721/721 [==============================] - 0s 101us/step - loss: 1051.2740
Epoch 23/50
721/721 [==============================] - 0s 95us/step - loss: 1020.1329
Epoch 24/50
721/721 [==============================] - 0s 89us/step - loss: 991.2487
Epoch 25/50
721/721 [==============================] - 0s 66us/step - loss: 966.6695
Epoch 26/50
721/721 [==============================] - 0s 110us/step - loss: 940.1324
Epoch 27/50
721/721 [==============================] - 0s 73us/step - loss: 918.1628
Epoch 28/50
721/721 [==============================] - 0s 93us/step - loss: 896.4108
Epoch 29/50
721/721 [==============================] - 0s 82us/step - loss: 877.9370
Epoch 30/50
721/721 [==============================] - 0s 92us/step - loss: 856.8887
Epoch 31/50
721/721 [==============================] - 0s 126us/step - loss: 839.5604
Epoch 32/50
721/721 [==============================] - 0s 91us/step - loss: 822.1723
Epoch 33/50
721/721 [==============================] - 0s 127us/step - loss: 805.9980
Epoch 34/50
721/721 [==============================] - 0s 128us/step - loss: 790.1542
Epoch 35/50
721/721 [==============================] - 0s 82us/step - loss: 774.8632
Epoch 36/50
721/721 [==============================] - 0s 134us/step - loss: 760.3749
Epoch 37/50
721/721 [==============================] - 0s 158us/step - loss: 748.4154
Epoch 38/50
721/721 [==============================] - 0s 123us/step - loss: 736.2189
Epoch 39/50
721/721 [==============================] - 0s 121us/step - loss: 721.6004
Epoch 40/50
721/721 [==============================] - 0s 131us/step - loss: 709.9038
Epoch 41/50
721/721 [==============================] - 0s 92us/step - loss: 697.6345
Epoch 42/50
721/721 [==============================] - 0s 144us/step - loss: 686.8569
Epoch 43/50
721/721 [==============================] - 0s 95us/step - loss: 677.8496
Epoch 44/50
721/721 [==============================] - 0s 210us/step - loss: 668.9642
Epoch 45/50
721/721 [==============================] - 0s 115us/step - loss: 659.3603
Epoch 46/50
721/721 [==============================] - 0s 127us/step - loss: 645.3056
Epoch 47/50
721/721 [==============================] - 0s 119us/step - loss: 637.0418
Epoch 48/50
721/721 [==============================] - 0s 159us/step - loss: 628.0555
Epoch 49/50
721/721 [==============================] - 0s 105us/step - loss: 617.1870
Epoch 50/50
721/721 [==============================] - 0s 150us/step - loss: 608.9204

In [22]:
from sklearn.metrics import mean_squared_error

#### prediction based on the X test split

In [23]:
y_pred = model.predict(X_test)

In [24]:
#squeared error.
sk.metrics.mean_squared_error(y_test, y_pred)

663.0003260577397

In [25]:
#we define a counter for the list of mean squared errors.
rcounter = []

## We loop the model fit using new variables so it resets the model after each loop, it wasnt clear on the instructions if we should reset the model fit or not, i assumed we do, otherwise we would just increase epochs. I put verbose = o so it doesnt output a lot

In [26]:
for i in range(50):
    X_tr, X_te, y_tr, y_te = train_test_split(predictors, target, test_size=0.30, shuffle=True)
    mod2 = regression_model()
    mod2.fit(X_tr, y_tr, epochs=50, verbose = 0)
    y_pr = mod2.predict(X_te)
    rcounter.append(sk.metrics.mean_squared_error(y_te, y_pr))

### List of mean squared errors.

In [27]:
rcounter

[107.06283996315808,
 126.07414277407332,
 400.9073598272428,
 152.52551393473075,
 125.85223863894272,
 191.11619334412714,
 145.5303501040948,
 1103.758253946684,
 158.30475347702432,
 694.7081585965711,
 221.8250545886073,
 281.49292192857837,
 227.2366367922531,
 144.11189032786845,
 218.07783443258666,
 194.05070224152522,
 640.0050459136146,
 180.4360166104206,
 524.4601075920748,
 1359.2263142509055,
 79.34642799649393,
 98.99820866163975,
 149.40964684429582,
 199.43255785491007,
 574.2313223078028,
 96.81691355282562,
 118.30783176658595,
 150.0978603365696,
 210.14599063951187,
 117.1114027396599,
 110.32103637754246,
 97.71795579996376,
 503.27982730870144,
 115.24083378462781,
 444.6749065714162,
 109.32771369185484,
 188.4366548918184,
 117.75817149757648,
 147.16174343227144,
 311.4711151174263,
 125.74773077098597,
 515.5440825063824,
 115.21467939124088,
 401.56831840272724,
 119.18556404586222,
 285.1208159855076,
 310.8855030056519,
 707.8319040140764,
 1700.7458155781278,
 117.64483924927102]

In [28]:
#we need to import statistics because the variable is not a df, so cant use pandas.
import statistics as st

In [29]:
st.mean(rcounter)

310.71079406816824

In [30]:
st.stdev(rcounter)

327.8872256331234

## Part B

In [31]:
# We normalize the data.

predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [32]:
rcount_norm=[]

In [33]:
for i in range(50):
    X_tr, X_te, y_tr, y_te = train_test_split(predictors_norm, target, test_size=0.30, shuffle=True)
    mod3 = regression_model()
    mod3.fit(X_tr, y_tr, epochs=50, verbose = 0)
    y_pr = mod3.predict(X_te)
    rcount_norm.append(sk.metrics.mean_squared_error(y_te, y_pr))

In [34]:
st.mean(rcount_norm)

382.1471555875022

In [35]:
st.stdev(rcount_norm)

96.64288262707217

#### We can see that the mean of the sq error got higher and standard deviation got lower when we normalized the data.

## Part C

In [36]:
count_norm_100 = []

In [37]:
for i in range(50):
    X_tr, X_te, y_tr, y_te = train_test_split(predictors_norm, target, test_size=0.30, shuffle=True)
    mod4 = regression_model()
    mod4.fit(X_tr, y_tr, epochs=100, verbose = 0)
    y_pr = mod4.predict(X_te)
    count_norm_100.append(sk.metrics.mean_squared_error(y_te, y_pr))

In [38]:
st.mean(count_norm_100)

164.05203595405965

In [39]:
st.stdev(count_norm_100)

17.706782521295388

### conclusion

## We can see that adding epochs lowered both numbers by a significant amount.

## Part D

In [44]:
# define new model

def regression_d():
    
    # create model
    model = Sequential()
    
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    
    return model

In [45]:
count_norm_100_3lay = []

In [46]:
for i in range(50):
    X_tr, X_te, y_tr, y_te = train_test_split(predictors_norm, target, test_size=0.30, shuffle=True)
    mod5 = regression_d()
    mod5.fit(X_tr, y_tr, epochs=50, verbose = 0)
    y_pr = mod5.predict(X_te)
    count_norm_100_3lay.append(sk.metrics.mean_squared_error(y_te, y_pr))

In [47]:
st.mean(count_norm_100_3lay)

130.57131519434515

In [48]:
st.stdev(count_norm_100_3lay)

15.797272288333621

Conclusion

Even with lower number of epochs, adding additional dense layers reduced the mean squared average and the standard deviation